page-attendance-details {

}

.item-header {
    display: flex;

}

.subject-title {
    color: rgb(56, 56, 56);
    background-color: #7ec9c8;
    width: 100%;
    padding: 10px !important; 
    margin: 0px;
    font-size: 16px;
    
}